## -*- coding: utf-8 -*-

<%def name="html_pager()">

%if prevlink or nextlink:
    <div class="pure-g">
        <div class="pure-u-1 pure-u-sm-1-2">
            %if prevlink:
            <p>
                <a href="${prevlink}" rel="prev" class="pure-button pure-button-active"><i class="fa fa-arrow-left"></i>  ${messages("Newer posts")}</a>
            </p>
            %endif

        </div>

        <div class="pure-u-1 pure-u-sm-1-2">
            %if nextlink:
            <p>
                <a href="${nextlink}" rel="next" class="pure-button pure-button-active">${messages("Older posts")}  <i class="fa fa-arrow-right"></i></a>
            </p>
            %endif
        </div>
    </div>
%endif
</%def>
