## -*- coding: utf-8 -*-
<%namespace name="helper" file="include/pager.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%inherit file="base.tmpl"/>

<%block name="content">

<!-- A wrapper for all the blog posts -->
<div class="posts">
    <h1 class="content-subhead">Latests posts</h1>

    % for post in posts:
    <!-- A single blog post -->
    <section class="post">
        <%include file='include/post_head.tmpl' args='post=post'/>

        <div class="post-description">
            <p> ${post.text(teaser_only=index_teasers)} </p>
        </div>
        <p><a class="post-author" href="${post.permalink()}">Read more...</a></p>
        <h1 class="content-subhead"></h1>
    </section>
    % endfor

</div>


    ${helper.html_pager()}
    ## ${comments.comment_link_script()}
    ## ${helper.mathjax_script(posts)}
</%block>
